# Ignore build artifacts
/build/

# Ignore external libraries
/libs/

# Common OS/editor junk files
.DS_Store
Thumbs.db

# IDE/project files
*.suo
*.user
*.userosscache
*.sln.docstates

# Vim / Neovim swap files
*.swp
*.swo

# VSCode settings
.vscode/

# Ignore Obsidian app configs
**/.obsidian/

assets/sprites/*
